@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Sans:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 9, 9, 0.521);
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .btn {
    @apply text-black bg-gray-300
     active:scale-75 focus:first:bg-slate-600 focus:last:bg-gray-300 rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center transition duration-200 hover:scale-110;
  }
  .btn-disabled {
    @apply text-red-600 bg-gray-300
    active:scale-75 focus:first:bg-slate-600 focus:last:bg-gray-300 rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center transition duration-200 hover:scale-110;
  }
  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg
     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  font-normal;
  }
  .card-box {
    @apply bg-white bg-opacity-10 hover:bg-opacity-100 transition duration-500
      text-center flex  py-4 px-6 justify-center  gap-4 rounded-md max-w-max absolute z-40 border-y-2 border-white border-x-0;
  }
  .colors-card-box {
    @apply bg-white bg-opacity-30 hover:bg-opacity-100 transition duration-500
      text-center flex py-4 px-6 justify-center gap-4 rounded-md max-w-max z-50 absolute;
  }
  .info-card-box {
    @apply bg-white bg-opacity-10 text-white  transition duration-500 right-10 top-20
      text-center flex  py-4 px-6 justify-center  gap-4 rounded-md max-w-max absolute z-40 border-y-2 border-white border-x-0;
  }
}
.neo-brutalism-blue {
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(52, 185, 229, 0.434);
}
.card-white {
  background: #ffffff;
  position: relative;
  border-radius: 7px;
  border: #2b77e7;
  box-shadow: 10px 10px 5px rgba(4, 128, 170, 0.434);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: x-large;
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: x-large;
  color: #ff0000;
  transition-duration: 500ms;
}
.car-colors {
  height: 1.5rem;
  width: 1.8rem;
  cursor: pointer;
}
